.App {
  text-align: center;
}

.flexItemStyle {
  background-color: lightgrey;
  border-radius: 2px;
  height: 55px;
  width: 55px;
}

.flexItemColor1 {
  background-color: #196127;
}

.flexItemColor2 {
  background-color: #7bc96f;
}

.flexItemColor3 {
  background-color: #c6e48b;
}

.flexContainerStyle {
  align-content: stretch;
  align-self: center;
  display: inline-flex;
  flex-flow: wrap;
  height: 245px;
  justify-content: space-around;
  margin-top: 30vh;
  width: 769px;
}
